#content {
    max-width: 1600px;
    margin: 0 auto;
}
/*primary-color: #0A2A4F   ;*/
/*secondary-color: #14556B ;*/
/*accent1-color: #FEC92D;*/
/*accent2-color: white;*/
#background {
    height: 725px;
    background-color: #0A2A4F;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #006e74; 
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px  auto;
    background-color: #006e74;
    color: white;
}
h1,h2,h3,h4,h5,h6 {
    font-family:'Lucida Sans Unicode', sans-serif;
}
h2 {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #FEC92D;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {text-align: center;
}
#hero-msg h4 {text-align: center;
}
.button-box {text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
main section {text-align: center;
}
nav a:hover {
    background-color: #FEC92D;
    color: white;
}
.book {
    background-color: #0A2A4F ;
    color: #FEC92D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #0A2A4F ;
    color: #FEC92D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #FEC92D;
    color: white;
}
.join:hover {
    background-color: #FEC92D;
    color: white;
}
.msg {
    background-color: rgb(1, 211, 222);
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: rgb(1, 211, 222);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #FEC92D;
    text-decoration: none;
}
footer a:hover {
    background-color: #FEC92D;
    color: white;
}
footer p {
    color: white;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #00d5ff;
    font-size: 3em;
    font-family: 'Brush Script MT', sans-serif;
    margin-top: 10px;
}
h4 {
    color: white;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 100px;
    border-radius: 25%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #000000;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}